.videolist-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 300px;
    @media (min-width: 1440px) {
        position: relative;
        bottom: 1230px;
        left:905px;
        border-left: 1px solid grey;
      }
  }
.video-list-title{
  display: flex;
  width: 400px;
  margin: auto;
  padding-right: 190px;
  margin-top: 40px;
  margin-bottom: 40px;
  @include fontaddin(
           $m_H5Label_FSize,
            $m_H5Label_LHeight,
            $fontAvenirBold,
            $clrGlobalTextLabelStyle
        );
  @media (min-width: 768px) {
    padding-left: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media (min-width: 1440px) {
    padding-left: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.videocard{
  display: flex;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0px;
  align-items: center;
  text-decoration:none ;
  padding-left: 20px;
  @media (min-width: 768px) {
    padding-left: 0px;
    margin-left: 24px;
    margin-right: 24px;
    justify-content: start;
  }
  @media (min-width: 1440px) {
    padding-left: 0px;
  }
  &__img-container{
    display: flex;
    height: 70px;
    width: 120px;
  }
  &__img{
    display: flex;
    height: 70px;
    width: 120px;
    border-radius: 4px;
  }
  &__channel-title-container{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
  }
  &__title{
     text-overflow: ellipsis;
     white-space: nowrap;
     line-height: 1.2em;
     width: 168px;
     height: 2em;
     overflow: hidden;
     margin-bottom: 16px;
     text-decoration:none;
     font-weight: 700;
     @include fontaddin(
            $m_H5Label_FSize,
            $m_H5Label_LHeight,
            $fontAvenirBold,
            $global_TextColor
        );
     @media (min-width: 768px) {
        white-space: normal;
        overflow: visible;
        width: 300px;
      }
    //border: 1px solid black;
 
  }
  &__channel{
    margin-top: 0px;
    font-weight: 400;
    @include fontaddin(
            $m_H5Label_FSize,
            $m_H5Label_LHeight,
            $fontAvenirBold,
            $global_TextColor
        );
    //border: 1px solid black;
  }

}